@use '../../inc/variables' as *;

.reinsurances-block {
	position: relative;
	z-index: 0;
	padding: 3rem 0;
	text-align: center;

	.btn {
		margin: 1em auto 0;
	}

	&:not(.is-editing) {
		.reinsurance--item {
			opacity: 0;
			transform: translateX(-50px);
		}
	}

	&:not(.no-background) {
		background: var(--background-url) center/cover no-repeat, $primary;
		color: $white;

		.section-title::after {
			background: currentColor;
		}
	}

	&.no-background {
		.title, .reinsurances--source {
			color: $primary;
		}

		.reinsurance--item .item-icon {
			background: $primary;
		}
	}

	.reinsurances--background {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $primary;
			opacity: 0.9;
		}
	}

	@media screen and (min-width: $breakpoint-sm) {
		.swiper-wrapper {
			gap: 2em;
			justify-content: space-between;

			> * {
				flex-shrink: unset;
			}
		}
	}

	.reinsurances--description {
		position: relative;
		z-index: 10;
		margin: 1rem 0;
	}

	.reinsurances--items {
		margin-top: 3rem;
	}

	.reinsurances--source {
		text-align: right;
		font-size: 12px;
	}

	.reinsurance--item {
		* {
			text-align: center !important;
		}

		.item-icon {
			display: block;
			width: 61px;
			height: 61px;
			background: currentColor;
			mask: var(--icon-url) no-repeat center;
			mask-size: contain;
			mask-position: center;
			margin: 0 auto 1.5em;
		}

		.item-text {
			font-size: 14px;
		}

		&.left {
			* {
				text-align: left !important;
			}

			.item-icon {
				margin-left: unset;
			}
		}

		&.right {
			* {
				text-align: right !important;
			}

			.item-icon {
				margin-right: unset;
			}
		}
	}
}