@use './variables' as *;
@use '../inc/components/titles' as *;

.site-logo {
	display: block;
	height: clamp(46px, 5vw, 86px);
	width: clamp(158px, 15.3vw, 180px);

	&:not(.masked) {
		background: var(--logo-url) no-repeat 50%;
		background-size: contain;
	}

	&.masked {
		mask: var(--logo-url) no-repeat 50%;
		mask-size: contain;
		background-color: currentColor;
	}
}

#masthead {
	position: relative;
	width: 100vw;
	max-width: 100%;
	background-color: $white;

	a {
		@extend %hidden-link;
	}

	.masthead--wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: 15px 0;

		.wrapper--nav {
			display: flex;
			align-items: center;
			gap: clamp(0.1em, 2vw, 30px);

			nav {
				display: flex;
				align-items: center;

				@media screen and (max-width: $breakpoint-lg) {
					display: none;
				}

				.menu-primary {
					> li {
						display: flex;
						flex-direction: column;
						align-items: center;
						//text-align: center;

						&.menu-item-has-children {
							.sub-menu {
								padding-left: 2rem;
								overflow: hidden;
								list-style: none;
							}

							> .sub-menu {
								text-align: right;
								padding-left: 0;
								pointer-events: none;
								opacity: 0;
								transform: translate(-50%, 90%);
								transition: transform 0.3s $cubic-transition, opacity 0.3s $cubic-transition;

								> * {
									&:first-child {
										padding-top: 0.5em;
									}

									&:last-child {
										padding-bottom: 0.5em;
									}
								}
							}

							> a {
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 0.5em;

								//&::after {
								//	content: "\e009";
								//	font-family: $font-family-fa;
								//	font-size: 9px;
								//	font-weight: 900;
								//}
							}

							&:hover > .sub-menu {
								pointer-events: auto;
								opacity: 1;
								transform: translate(-50%, 100%);
							}
						}
					}

					ul {
						width: 100%;
					}

					a {
						position: relative;
						display: block;
						width: 100%;
						//text-align: right;
						//padding: 0.4em 0;
					}
				}

				.menu-primary {
					display: flex;
					gap: clamp(0.1em, 10vw, 1.25em);

					> li {
						position: relative;
						//font-family: $font-family-title;

						> a {
							position: relative;
							padding: 0.8em 0;

							&::after {
								content: '';
								position: absolute;
								bottom: -0;
								left: 0;
								width: 0;
								height: 1px;
								background-color: $primary;
								transition: width 0.5s ease;
							}
						}

						.sub-menu {
							font-size: 0.9em;
						}

						> ul.sub-menu {
							position: absolute;
							bottom: 0;
							left: 50%;
							list-style: none;
							background: $primary;
							color: $white;
							width: max-content;
							z-index: 1000;
							font-size: 16px;

							> li {
								//text-align: center;
								height: 100%;

								a {
									padding: 0.6em 1.2em;
									font-size: var(--wp--preset--font-size--infos);
									//text-transform: uppercase;
								}
							}

						}

						//&:hover > ul.sub-menu,
						//> ul.sub-menu:hover {
						//	display: block;
						//}

						&:hover > a::after {
							width: 100%;
						}
					}
				}
			}

			.status-link {
				@media screen and (max-width: $breakpoint-sm) {
					display: none;
				}
			}

			.menu-burger {
				z-index: 6000;
				position: relative;
				width: 30px;
				height: 20px;
				cursor: pointer;

				@media screen and (min-width: $breakpoint-md) {
					display: none;
				}

				span {
					position: absolute;
					top: 0;
					left: 0;
					display: inline-block;
					width: 100%;
					height: 3px;
					background: $primary;
					transform: translateY(-50%);
					transform-origin: center;
					border-radius: 10px;
					transition: transform 0.4s $cubic-transition, top 0.4s 0.4s $cubic-transition, opacity 0s 0.4s $cubic-transition;

					&:nth-child(2) {
						top: 50%;
						opacity: 1;
					}

					&:last-child {
						top: 100%;
					}
				}

				&.is-active {
					span {
						transition: top 0.4s $cubic-transition, transform 0.4s 0.4s $cubic-transition, opacity 0.4s $cubic-transition;

						&:first-child {
							top: 50%;
							transform: translateY(-50%) rotate(-35deg);
						}

						&:nth-child(2) {
							opacity: 0;
						}

						&:last-child {
							top: 50%;
							transform: translateY(-50%) rotate(35deg);
						}
					}
				}
			}
		}
	}

	#masthead--burger {
		position: absolute;
		z-index: 100;
		bottom: 0;
		left: 0;
		width: 100%;
		transform: translate(-100%, 100%);
		background-color: inherit;
		transition: transform 0.4s $cubic-transition;
		overflow: auto;
		box-shadow: 0 11px 9px 0px rgba(0, 0, 0, 0.1);

		.contentify-menu {
			flex-direction: column;
			text-align: center;

			> * {
				width: 100%;
			}
		}

		.burger--wrapper {
			padding: 2em 0;
		}

		&.active {
			transform: translate(0, 100%);
		}
	}
}