@use '../variables' as *;

.btn {
	display: block;
	font-size: var(--wp--preset--font-size--button);
	font-family: $font-family-btn;
	line-height: 1.1em;
	text-transform: uppercase;
	font-weight: 500;
	width: max-content;
	height: max-content;
	text-decoration: none;
	color: inherit;
	border: 2px solid currentColor;
	padding: 0.3em 0.5em;
	transition: all 0.4s $cubic-transition;

	&.btn-primary {
		color: $primary !important;

		&:hover {
			@extend %btn-primary-hover;
		}
	}
}

.btn-sorter {
	display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
	background: $light-gray;
	font: inherit;
	font-size: 14px;
	padding: 0.56em 0.74em;
	border-radius: 8px;
	text-align: center;
	transition: background-color 0.3s $cubic-transition;

	&.older-posts::after {
		transform: scaleY(-1);
	}

	&:hover, &.active {
		background-color: #dddddd;
	}

	&.active {
		pointer-events: none;
	}
}

.btn-filter {
	padding: 8px 4px;
	color: $secondary;
	border: 1px solid currentColor;
	text-align: center;
	border-radius: 8px;
	font-size: 14px;
	overflow-wrap: break-word;
	background-color: $white;
	transition: all 0.3s $cubic-transition;
	cursor: pointer;

	&.active, &:hover {
		color: $primary;
		background-color: rgba($primary, 0.2);
	}
}

.card-tag {
	display: inline-block;
	background: $secondary;
	color: $white;
	padding: 0 0.4em;
	border-radius: 5px;
}