@use '../variables' as *;

.title,
h1, h2, h3, h4, h5, h6 {
	display: block;
	width: 100%;
	font-family: $font-family-title;
	line-height: 1.3em;
	font-weight: 500;
	overflow-wrap: anywhere;
}

h1,
.big-title {
	font-size: var(--wp--preset--font-size--big-title);
	font-weight: 700;
}

h2,
.section-title {
	font-size: var(--wp--preset--font-size--section-title);
}

h3,
.subtitle {
	font-size: var(--wp--preset--font-size--subtitle);
}