@use '../../inc/variables' as *;

.block--dropdown-menu {
	padding: 5em 0;
	background-color: $light-primary;

	.main-title {
		margin-bottom: 2em;
	}

	.dropdown-menu-item {
		--padding-x: 1.5rem;
		border-bottom: 1px solid rgb(227 227 227);

		.header--dropdown-menu-item {
			display: flex;
			cursor: pointer;
			padding: 1em 0;

			@media screen and (min-width: $breakpoint-md) {
				padding: 1em var(--padding-x);
			}

			.title {
				color: $primary;
			}

			i {
				font-size: clamp(24px, 5vw, 34px);
				transform: translateX(-50%);
				transition: transform 0.3s ease;
			}

			&:hover i {
				transform: translateX(0);
			}

			&.open {
				i {
					transform: rotate(-90deg);
				}
			}
		}

		.content--dropdown-menu {
			height: 0;
			overflow: hidden;
			transition: height 0.3s ease;
			line-height: 1.8em;

			> div {
				margin: 10px;
				border-radius: 20px;
				background-color: $white;
				padding: 1em var(--padding-x);
				box-shadow: 0 9px 7px 0px rgba(0, 0, 0, 0.05);
			}

		}
	}
}