@use './inc/variables' as *;
@use './inc/components/titles' as *;

#colophon {
	background-color: $black;
	color: $white;
	padding: 3em 0;

	a {
		@extend %hidden-link;
	}


	.header--infos {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: $breakpoint-md) {
			flex-direction: column;
		}
	}
}